<h3>{{title}}</h3>
<!-- <h3 [textContent]="title"></h3>
<h3 [innerText]="title"></h3>
<h3 [innerHTML]="title"></h3>


<h3>{{formattedTitle}}</h3>
<h3 [textContent]="formattedTitle"></h3>
<h3 [innerText]="formattedTitle"></h3>
<h3 [innerHTML]="formattedTitle"></h3> -->
<img [src]="imgSrc" [alt]="'Some Dummy Text'">
<br>
<!-- <img src="./assets/images/1.jpg" alt=""> -->

<!-- table>tr*4>td*4>lorem1 -->
<table>
    <tr>
        <td [attr.colspan]="colspan">Lorem.</td>
        <td>Iure.</td>
        <td>Tempora!</td>

    </tr>
    <tr>
        <td>Illum?</td>
        <td [attr.rowspan]="rowspan">Quod.</td>
        <td>Eveniet?</td>
        <td>Asperiores.</td>
    </tr>
    <tr>
        <td>Libero!</td>
        <td>Similique.</td>
        <td>Libero.</td>
    </tr>
    <tr>
        <td>Minima?</td>
        <td>Dolorem.</td>
        <td>Illum?</td>
        <td>Neque!</td>
    </tr>
</table>