<!-- <div>{{course | json}} </div> -->
<!-- <div>{{courseString}} </div> -->
<!-- <div>{{course.title | uppercase}}</div>
<div>{{course.title | lowercase}}</div>
<div>{{course.title | titlecase}}</div>
<div>{{course.rating | number}}</div>
<div>{{course.rating1 | number}}</div>
<div>{{course.rating | number:'1.3-4'}}</div>
<div>{{course.rating2 | number:'1.3-4'}}</div>
<div>{{course.rating2 | number:'1.2-2'}}</div>
<div>{{course.rating1 | number:'5.2-2'}}</div>
<div>{{course.rating3 | number:'0.2-2'}}</div>
<div>{{course.students | number:'1.0-0'}}</div> -->
<!-- <div>{{course.price | currency}}</div>
<div>{{course.price | currency:'INR'}}</div>
<div>{{course.price | currency:'EUR'}}</div>
<div>{{course.price | currency:'ALL'}}</div>
<div>{{course.price | currency:'DZD'}}</div>
<div>{{course.price | currency:'USD'}}</div>
<div>{{course.price | currency:'AUD'}}</div>
<div>{{course.price | currency:'BZD'}}</div> -->
<div>{{course.releaseDate | date :'short'}}</div>
<div>{{course.releaseDate | date:'h:mm a z'}}</div>
<div>
    {{course.details | summary:limitVal}}
    <span class="btn btn-link" (click)="limitVal=(limitVal==minLimit?course.details.length:minLimit)">
        {{ limitVal < course.details.length ?'Show More':'Show Less'}}
    </span>
</div>

<table class="table table-dark">
    <tr *ngFor="let item of course | keyvalue">

        <td>{{item['key']}}</td>
        <td>{{item['value']}}</td>
    </tr>
</table>