<div class="card">
    <div class="card-header">
        Post List
    </div>
</div>
<div class="row mt-3 ">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter New Title" [(ngModel)]="newPost.title">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Post Description" [(ngModel)]="newPost.body">
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" type="submut" (click)="createPost()">Create</button>
    </div>
</div>

<div class="card" *ngFor="let post of posts">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <button class="btn btn-primary" (click)="updatePost(post)">
            Update
        </button>
        <button class="btn btn-danger ml-2" (click)="deletePost(post)">
            Delete
        </button>
    </div>
</div>

<div class="toast-notification" *ngIf="notificationMessage!=''">{{notificationMessage}}</div>